<h1>Welcome to Our Application, <%= @user.name %>!</h1>
<p>Your account has been created successfully.</p>
<p>Please <a href="<%= @verification_link %>">click here</a> to verify your email address.</p>
